<!-- ============ MOBILE DRAWER ============ -->
<div class="scrim" id="scrim"></div>
<nav class="mobile-nav" id="mobileNav" aria-label="Mobile primary">
  <button class="close-drawer" id="closeDrawer" aria-label="Close menu"><i class="fa-solid fa-xmark"></i></button>
  <a href="%%BASE%%index.html"><i class="fa-solid fa-house"></i> Home</a>
  <a href="%%BASE%%pages/about.html">About Us</a>
  <details>
    <summary>Services <i class="fa-solid fa-chevron-down"></i></summary>
    <ul>
      <li><a href="%%BASE%%pages/hostel-management.html">Hostel Management</a></li>
      <li><a href="%%BASE%%pages/smc-info.html">SMC Information</a></li>
      <li><a href="%%BASE%%pages/transport.html">Transport</a></li>
      <li><a href="%%BASE%%pages/student-achievements.html">Student Achievements</a></li>
      <li><a href="%%BASE%%pages/clubs-societies.html">Clubs &amp; Societies</a></li>
    </ul>
  </details>
  <details>
    <summary>Committees for Students <i class="fa-solid fa-chevron-down"></i></summary>
    <ul>
      <li><a href="#">ICC</a></li>
      <li><a href="#">Grievance</a></li>
      <li><a href="#">Anti Ragging</a></li>
    </ul>
  </details>
  <details>
    <summary>Facilities <i class="fa-solid fa-chevron-down"></i></summary>
    <ul>
      <li><a href="#">Medical Unit / MCWC</a></li>
      <li><a href="#">Sports Facilities</a></li>
      <li><a href="#">Gymnasium</a></li>
      <li><a href="#">Stationery Shop</a></li>
      <li><a href="#">Bank &amp; ATM</a></li>
      <li><a href="#">Library Facilities</a></li>
    </ul>
  </details>
  <a href="#">Scholarship &amp; Financial Aid</a>
  <a href="#">Placement / CCD</a>
  <a href="#">SAC</a>
  <a href="%%BASE%%pages/hostel-management.html">Hostel</a>
  <details>
    <summary>Resources <i class="fa-solid fa-chevron-down"></i></summary>
    <ul>
      <li><a href="#">Forms &amp; Downloads</a></li>
      <li><a href="#">Manuals, Policies &amp; SOPs</a></li>
    </ul>
  </details>
</nav>
